*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  font-size: 1.2rem; /*元のフォントサイズに対して1.2倍*/
  width: 100vw; /**/
  height: 100vh; /**/
  background : linear-gradient(to right, #f8f8f8, #547fff);
  /*liner-gradient:グラデーション to right:右に行くにつれて*/
}